[
{"ParameterKey": "VPCID","ParameterValue": "vpc-02020c3d47db35497" },
{"ParameterKey": "VPCCIDR","ParameterValue": "10.10.0.0/16" },
{"ParameterKey": "PrivateSubnet1ID","ParameterValue": "subnet-0befa128cb682c6dc" },
{"ParameterKey": "PrivateSubnet2ID","ParameterValue": "subnet-0bf2962a9be5ab86b" },
{"ParameterKey": "PrivateSubnet3ID","ParameterValue": "subnet-0218d6a2f4340285f" },
{"ParameterKey": "RemoteAccessCIDR","ParameterValue": "0.0.0.0/0" },
{"ParameterKey": "ContainerAccessCIDR","ParameterValue": "0.0.0.0/0" },
{"ParameterKey": "DomainName","ParameterValue": "example.com" },
{"ParameterKey": "HostedZoneID","ParameterValue": "Z3D0SFB2CMUNQ6" },
{"ParameterKey": "SubDomainPrefix","ParameterValue": "airgapped" },
{"ParameterKey": "KeyPairName","ParameterValue": "sshkey-us-east-1" },
{"ParameterKey": "AmiId","ParameterValue": "ami-000db10762d0c4c05" },
{"ParameterKey": "NumberOfAZs","ParameterValue": "3" },
{"ParameterKey": "NumberOfMaster","ParameterValue": "3" },
{"ParameterKey": "NumberOfEtcd","ParameterValue": "3" },
{"ParameterKey": "NumberOfNodes","ParameterValue": "3" },
{"ParameterKey": "MasterInstanceType","ParameterValue": "m4.xlarge" },
{"ParameterKey": "EtcdInstanceType","ParameterValue": "m4.xlarge" },
{"ParameterKey": "NodesInstanceType","ParameterValue": "m4.xlarge" },
{"ParameterKey": "OpenShiftAdminPassword","ParameterValue": "passw0rd" },
{"ParameterKey": "OpenshiftContainerPlatformVersion","ParameterValue": "3.11" },
{"ParameterKey": "AWSServiceBroker","ParameterValue": "Disabled" },
{"ParameterKey": "HawkularMetrics","ParameterValue": "Disabled" },
{"ParameterKey": "AnsibleFromGit","ParameterValue": "False" },
{"ParameterKey": "ClusterName","ParameterValue": "ocp311ag" },
{"ParameterKey": "GlusterFS","ParameterValue": "Disabled" },
{"ParameterKey": "AutomationBroker","ParameterValue": "Disabled" },
{"ParameterKey": "QSS3BucketName","ParameterValue": "airgapped" },
{"ParameterKey": "QSS3KeyPrefix","ParameterValue": "quickstart-redhat-openshift/" },
{"ParameterKey": "PrivateRegistry","ParameterValue": "10.10.20.78:5000" }
]
